@font-face {
  font-display: swap;
  font-family: 'Coolvetica';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/COOLVETICA-RG.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Coolvetica-It';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/COOLVETICA-RG-IT.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/GOTHAMPRO.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Gotham Pro-Medium';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/GOTHAMPRO-MEDIUM.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Gotham Pro-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/GOTHAMPRO-BOLD.woff2') format('woff2');
}


@font-face {
  font-display: swap;
  font-family: 'Russo One Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/RussoOne-Regular.woff2') format('woff2'),
    url('../fonts/RussoOne-Regular.woff') format('woff');
}


@font-face {
  font-display: swap;
  font-family: 'Vela Sans Med';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/VelaSans-Medium.woff2') format('woff2'),
    url('../fonts/VelaSans-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Vela Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/VelaSans-Regular.woff2') format('woff2'),
    url('../fonts/VelaSans-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Helvetica-Regular.woff2') format('woff2'),
    url('../fonts/Helvetica-Regular.woff') format('woff');
}