.modal {
  display: none;

  &[aria-hidden="false"] {
    display: block;
  }

  &__overlay {
    background: rgba(209, 243, 255, 0.50);
    backdrop-filter: blur(20px);
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(md) {
      padding: 20px 15px;
      overflow-y: scroll;
    }
  }

  &__container {
    position: relative;
    background: #fff;
    padding: 40px 50px;
    border-radius: 0px 30px 30px 30px;
    max-width: 600px;
    width: 100%;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.10);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -31px;
      width: 40px;
      height: 40px;
      background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NSIgaGVpZ2h0PSI4MyIgdmlld0JveD0iMCAwIDY1IDgzIiBmaWxsPSJub25lIj4KICA8cGF0aCBkPSJNNjMuMzQ2IDEuNDQ1OTZlLTA3QzYzLjM0NiAxLjQ0NTk2ZS0wNyAyMC41ODQ2IDMuODgyOTFlLTA2IDkuNjg4ODIgNC44MzU0NmUtMDZDLTEuMjA2OTkgNS43ODhlLTA2IC0zLjcyNTMgMTEuMTkxMSA2LjMzNTQyIDIyLjM4MjFDMTYuMzk2MSAzMy41NzMyIDU5LjYyNDYgNzAuODc2NyA2My4zNDYgODIuMDY3N0M2Ny4wNjc1IDkzLjI1ODggNjMuMzQ2IDEuNDQ1OTZlLTA3IDYzLjM0NiAxLjQ0NTk2ZS0wN1oiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPg==') no-repeat;
      background-size: cover;
      pointer-events: none;

      @include respond(md) {
        display: none;
      }
    }

    @include respond(md) {
      padding: 30px 40px;
      border-radius: 30px;
    }

    @include respond(xs) {
      max-width: 380px;
      padding: 20px 15px;
      max-height: 100%;
      overflow-y: scroll;
      scrollbar-width: none; // Firefox

      &::-webkit-scrollbar {
        display: none; // Chrome/Safari
      }
    }
  }
}