@import "core/vars";
@import "core/mixins";
@import "helpers/helpers";
@import "modals/modal";
@import "modules/example";

.hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.mb-0 {
  margin-bottom: 0 !important;
}